# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=3000
ACCESS_TOKEN_SECRET='twcibNhzcHgrqWaGsBY5eA=='
REFRESH_TOKEN_SECRET='aklsdjalskdjlahjwediouwhaodijasd=='
DATABASE_URL_PRISMA="postgresql://wadfinal:123@localhost:5433/wadfinal?schema=public&sslmode=prefer"
API_KEY="AIzaSyDS_OdpXlRGvLCpGn9Aaa19gtjCe4YOH60"
AUTH_DOMAIN= "wad-final-image-storage.firebaseapp.com"
DATABASE_URL="gs://wad-final-image-storage.appspot.com"
PROJECT_ID: "wad-final-image-storage"
STORAGE_BUCKET: 'wad-final-image-storage.appspot.com'
MESSAGING_SENDER_ID: "590557288614"
APP_ID: "1:590557288614:web:bfed3d7de2d63e8ab93c67"
measurementId: "G-Y60VRVVNL9"
SESSION_SECRET

